body{
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 70px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
    position: fixed;
    z-index: 1000;
}

nav ul {
    display: flex;
    gap: 20px; 
    list-style: none;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    font-family: 'Impact';
    color: rgb(177, 143, 91);
    text-decoration: none;
}

nav .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav .logo img {
    width: 80px;
    height: auto;
}


nav ul li a:hover {
    color: rgb(222, 73, 73);
}


nav ul li ul {
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); 
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
    padding: 10px;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: rgb(222, 213, 213);
}

nav .login img{
    width: 30px;
    height: auto;
    border-radius: 10px;
    border: solid 3px white; 

}

.container {
    width: 100vw;
    height: 60vh;
    padding: 0;
    overflow: hidden;
    position: relative;
    padding-top: 70px;
}

.slider-wrapper {
    width: 100vw;
    height: 60vh;
    margin: 0 auto;
}

.slider {
    display: flex;
    width: 100vw;
    height: 60vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;
}

.slider img {
    flex: 1 0 100%;
    width: 100vw;
    height: 60vh;
    scroll-snap-align: start;
    object-fit: cover;
}


.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 15px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.promo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.promo-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: solid 3px white; 
}

.large {
    grid-column: span 1; 
}

.small {
    grid-column: span 1; 
}

.redeem{
    display: grid;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.redeem img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.made-To-order {
    background: url('1250964-tomato-slice.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px; 
    padding: 50px 20px;
    position: relative;
}

.made-To-order .content {
    max-width: 600px;
}

.made-To-order .title {
    font-size: 2.8rem;
    font-family: 'flame', "Cooper Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
}

.made-To-order .subtitle {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
}

.made-To-order .btn {
    display: inline-block;
    background: blanchedalmond; 
    color: black;
    font-size: 1rem;
    padding: 14px 200px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.made-To-order .btn:hover {
    background: #b71c1c;
}

